.cover {
  padding-top: 64px;
  min-height: 77vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../../assets/img/beach.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-bottom: 8px solid rgba(88, 22, 173, 1);
}

.cover .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  z-index: 9;

  max-width: 768px;
}

.cover .container h1,
.cover .container h2 {
  color: white;
}

.cover .container h1 {
  font-weight: 300;
}

.cover .container h1 span {
  font-weight: bold;
}

.cover .container h2 {
  margin-top: 0.33rem;
}

#aims .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  #aims .container {
    flex-direction: row;
  }
}

#aims .aim {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0.33rem;
  max-width: 300px;
}

#aims .aim img {
  max-width: 222px;
  margin-left: auto;
  margin-bottom: -2rem;
}

#aims .aim h3 {
  color: rgb(73, 59, 92);
  font-weight: bold;
  margin: 1rem 0 0.1rem 0;
}

#aims .aim h4 {
  font-size: 1.33rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  #aims .aim img {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 900px) {
  #aims .aim {
    display: flex;
    margin: 2rem;
  }
}
