.cover {
  padding-top: 64px;
  min-height: 77vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../../assets/img/beach.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-bottom: 8px solid rgba(88, 22, 173, 1);
}

.cover .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  z-index: 9;

  max-width: 768px;
}

.cover .container h1,
.cover .container h2 {
  color: white;
}

.cover .container h1 {
  font-weight: 300;
}

.cover .container h1 span {
  font-weight: bold;
}

.cover .container h2 {
  margin-top: 0.33rem;
}
